.carta-box {
    margin: 100px;
    width: 200px;
    height: 250px;
    position: relative;
    perspective: 1000px;
}

.carta {
    transform-style: preserve-3d;
    will-change: transform;
    transition: all 0.5s linear;
    transition-timing-function: ease-in-out;
}

.back, .front {
    position: absolute;
    backface-visibility: hidden;
}

.back {  
    transform: rotateY(180deg); 
}